@-moz-document domain("dir.bg") {
    #screening-DIV > div > div:nth-child(1),
    #screening-DIV > div > div:nth-child(2),
    .header-hero,
    #gdpr-consent-tool-wrapper,
    .banner div[data-ub-carousel],
    .exclusive-podcast-bar,
    .ub-notification-ad,
    .px2_leaderboard,
    .px2_billboard,
    .side-bar,
    [id^=div-gpt-ad],
    [id^=taboola],
    .banner,
    #newsletter-main-block,
    .article-banners,
    #newsletter-anchor-block,
    .mostread-slider-master,
    .accent-block,
    .topics-block, .article-share-btns, #txkLWHHBLC, #horizontal1 {
        display: none;
    }

    .inner-wrapper {
        width: 100%;
        margin: 5px;
    }

    .top-section {
        background-image: none;
        padding-top: 100px;
    }
    .main-section {
        padding-top: 300px;
        width: 70%;
    }

    .most-recent-articles {
        width: 33%;
        position: absolute;
        top:  110px;
        float: right;
        left: 64%;
    }
}
