@-moz-document domain("dir.bg"){
#screening-DIV > div > div:nth-child(1),
#screening-DIV > div > div:nth-child(2), .header-hero, #gdpr-consent-tool-wrapper, .banner,
div[data-ub-carousel], .exclusive-podcast-bar, .ub-notification-ad, .px2_leaderboard, .px2_billboard, .side-bar, [id^=div-gpt-ad] {
    display: none;
}

.inner-wrapper {
    width: 100%;
    margin: 5px;
}

.top-section {
    background-image: none;
    padding-top: 100px;
}
.main-section, .main-section-homme-top{
		width: auto;
	}
}
}
